
/* Styling the body */
html{
  scroll-behavior: smooth;
}
* {
    margin: 0px;
    padding: 0px;

  }


  .bosm-heading {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/bosm.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75vw;
    height: 60vh;
  }
  /* Styling the first parallax's 
  height, width and background color */
  .parallax-1 {
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(58, 58, 60, 0.682), rgba(23, 22, 21, 0.742)), url('../../img/bg.png');
    background-size: 100% 100%;
    background-attachment: fixed;
  }
  /* Styling the title of first parallax */
  .parallax-1 h2 {
    margin: auto;
    position: relative;
    left: 45;
    top: 40%;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    text-shadow: 2em;
  }
  
  /* Styling the second parallax's 
  height, width and background color */
  /* .parallax-2 {
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-attachment: fixed;
  } */
  
  /* Styling the title of second parallax */
  /* .parallax-2 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 37px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
  } */
  
  /* Styling the content or paragraph */
  /* .para-1 {
    padding: 50px;
    color: rgb(12, 12, 12);
    font-size: 17px;
  } */
  
  /* Styling the content or paragraph */
  .para-1 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    color: rgb(0, 0, 0);
  }