html{
  scroll-behavior: smooth;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }


  .bosm-heading {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    background-image: url("../../img/bosm.png"); 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 74vw;
    height: 74vh;
  }

  .ph1
  {
    background-image: url("../../img/Jordon1.png");
    /* transform: translateX(10%); */
    position: absolute;
    z-index: 10;
    bottom: 0%;
    right: -10%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: 60vh;
    animation: left 1s linear;
  }

  .ph2
  {
    background-image: url("../../img/dc.png");
    position: absolute;
    z-index: 10;
    bottom: 0%;
    left: -20%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75vw;
    height: 75vh;
    animation: right 1s linear ;
  }
    
  .parallax-1 {
    /* width: 100%; */
    height: 100%;
    background:linear-gradient(rgba(58, 58, 60, 0.682), rgba(23, 22, 21, 0.742)), url('');
    background-size: 100% 100%;
    background-attachment: fixed;
  }

  .wrapper{

  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%,rgba(9,9,121,1) 35%,rgba(0,212,255,1) 100%);

  }

  .box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
  top: 70%;
  left: 50%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8){
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

.orient
{
  background-image: url("../../img/ori.png");
  position: absolute;
    z-index: 70;
    bottom: 0%;
    left: 0%;
    background-position:center ;
    background-size: contain;
    background-repeat: no-repeat;
    width: 0vw;
    height: 0vh;
    opacity: 0;
}
.black
{
  background-image: url("../../img/black.jpg");
  position: absolute;
  z-index: 50;
  bottom: 0%;
  left: 0%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 0vw;
  height: 0vh;
  opacity: 0%;
 
}
  

@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90) rotate(360deg);
    opacity: 0;
  }
}

@keyframes right{

 0%{
  transform: translateX(5vw);
 }
 
}

@keyframes left{

  0%{
   transform: translateX(-5vw);
  }
 }

 

@media only screen and (min-width: 1060px) and (max-width: 1280px) {
  .ph1{
    bottom: -4.5%;
    right: -4%;
  }
  .ph2{
    bottom: 0%;
    left: -20%;
  }
  .bosm-heading{
    top: 35%;
    width:105vh;
    height: 100vh;
    left: 60%;
  }
}

@media only screen  and (max-width: 415px) {
  .ph1{
    bottom: -19.5%;
    right: -4%;
    width: 75%;
  }
  .ph2{
    bottom: -19%;
    left: -4%;
  }
  .bosm-heading{
    top: 40%;
    width:70vh;
    left: 45%;
    height: 100vh;
  }
}

@media only screen and (min-width:412px) and (max-width: 1062px) {
  .ph1{
    bottom: -4%;
    right: -4%;
    width: 75%;
  }
  .ph2{
    /* bottom: -19%; */
    left: -4%;
  }
  .bosm-heading{
    top: 30%;
    width:70vh;
    left: 45%;
    height: 100vh;
  }
  .orient
  {
    opacity: 100%;
    width: 105vw;
    height: 105vh;
  }
  .black
  {
    opacity: 100%;
    width: 105vw;
    height: 105vh;
  }
}