.s_container{
height: 100vh;
background-color: #373e74dd;

}

.s_flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5% 8% 5% 8% ;
}

.tile-primary-content img
{
    border:2px rgb(4, 4, 4) solid;
    border-radius: 50%;
    width:150px;
}

.tile-primary-content img:hover
{
   background-color: rgba(255, 255, 6, 0.894);
   transform: scale(110%);
}


.flex-item a
{
    text-decoration: none;
    text-align: center;
    color: rgba(0, 0, 0, 0.863);
    font-family: "Times New Roman", Times, serif;

}

.flex-item
{
    margin: 20px;
}