  .e_nav-bar {
      height: 100%;
      width: 100vw;
      font-size: 1.6em;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: rgb(0, 0, 0);
      font-weight: bold;
      letter-spacing: 0px;
      /* font-family: Roboto; */
      background-color: #Ffd153;
      /* border-top: white 2px; */
      z-index: 4;
      letter-spacing: 5px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      /* border-top: 2px solid rgb(237, 162, 43);
      border-bottom: 2px solid rgb(237, 162, 43); */
      
    }

    .links_ev {
      height: 35%;
    }
    
    .links_ev span {
      height: 100%;
      width: fit-content;
      display: flex;
      align-items: center;
      position: relative;
      padding-top: 3%;
      padding-bottom: 2%;
    
    }
    .links_ev > span > a {
      cursor: pointer;
      text-decoration: none;
      color: rgb(0, 0, 0);
      padding: 0 10px;
      
    }
    
    .links_ev > span > a:hover {
      background-color: #000000;
      color: rgb(255, 255, 255);
      border-radius: 20px;
      opacity: 80%;    
    }
    
  
  
