.events_herosection{
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 10px;
  position: relative;
  margin-bottom: 50px; 
}

.events_herosection h1{
  font-size: 80px;
  top: 250px;
  position: absolute;
  color: #fff;
}
  
.events_herosection_img{
  height: 100%;
  width: 100%;
}

