*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: ease 0.5s;

}

.carousel-inner{
    width: 89vw;
    /* height: 50vh; */
    margin: auto;
}

.carousel-item{
    border-radius: 1rem;
    padding: 1rem;
}