*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: ease 0.5s;

}

.s_flex_cont
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.flex-item {
  margin: 20px;
  width: 5%;
  height: 5%;
}