.eventsContainer1{
    border: solid 1px black;
    width: 180vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgrey;
    border-radius: 20px;
    margin-bottom: 20px;

}

.eventsContainer1 li a{
    text-decoration: none;
    font-size: 20px;
    color: red;

}
li a:hover{
    color: green;
    font-size: 25px;
}
.eventsContainer2{
    background-color: lightgrey;
    margin: auto;
    width: 180vh;
    border: solid black 4px;
    padding: 10px 20px;
    border-radius: 20px;
   
}


