

.Rules_div{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #8336aa;
    color: #fff;
  
    padding: 2rem 1rem 1rem 1rem;
    
   
}

.Rules_div h1{
    font-size: 450%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  
    text-decoration: underline;
}

.Rules_div li{
    font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 910px) {
    .Rules_div list-style
    {
        font-size: 90%;
    }
    .Rules_div h1
    {
        font-size: 150%;
    }
  }