
.sports_herosection{
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    position: relative;
    margin-bottom: 10px; 
  }
  .sports_herosection h2{
    font-size: 650%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    color: #002349;
    top: 80px;
  }


.sports_herosection_img{
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 700px) {
    .sports_herosection h2{
      font-size: 400%;
    }
  }