




.facilites_div{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #151515;
    color: #fff;
    border-radius: 64px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 2rem 1rem 1rem 1rem;
   
}

.facilites_div h1{
    font-size: 45px;
    font-family: Roboto;
    text-align: center;
    font-weight:700;
    margin-bottom: 30px;
}

.facilites_div li{
    font-size: 25px;
}