




.facilites_div{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #8336aa;
    color: #fff;

    padding: 2rem 1rem 1rem 1rem;
   
}

.facilites_div h1{
    font-size: 450%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    text-decoration: underline;
    text-align: center;
    font-weight:700;
    margin-bottom: 30px;
}

.facilites_div li{
    font-size: 25px;
}

@media screen and (min-width: 320px) and (max-width: 910px) {
    .facilites_div li
    {
        font-size: 20px;
    }
    .facilites_div h1
    {
        font-size: 200%;
    }
  }