





  
  .live_events
  {
    background-color:#00000060;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .live_events h1{
    padding-top: 40px;
    font-size: 4rem;
    text-align: center;

    font-weight: bold;
  }

  .carouselContainer {
    width: 90%;
    height: 96%;
    margin: auto ;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carouselImgs {
    width: 100%;
    height: 10%;
    animation: fade 1.5s;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
  }
  .carouselImgs img 
  {
    border-radius: 0.5rem;
  }


  .carouselImgs img:hover
  {
    transform: scale(90%);
    opacity: 80%;
    
  }
  
  .prev, .next {
    position: absolute;
    top: 35%;
    cursor: pointer;
  }
  
  
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  


   @media screen and (min-width: 1277px)  {
  
    .carouselContainer{
      width: 70vw;
    }
 

  } 
   @media screen and (min-width: 1400px)  {
  
    .carouselContainer{
      width: 60vw;
    }
 

  } 
   @media screen and (max-width: 400px)  {
  
    .carouselContainer{
      width: 95vw;
    }
    .live_events h1{
      font-size: 5rem;
      padding-top: 100px;
    }

  } 



 

 