


.carouselImgs h3 
{
  font-family: "Aero";
  font-weight: 600;
  font-size: xx-large;
  margin-top: 2rem;
}


  
  .live_events
  {
    background-color: #65ff1860;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  


  .container {
    width: 100%;
    /* height: 75vh; */
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-items: center;
  }
  
  .carouselContainer {
    width: 60%;
    height: 96%;
    margin: auto ;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  


  .carouselImgs {
    width: 100%;
    height: 80%;
    animation: fade 1.5s;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-items: center;
    justify-content: center;
  }
  .carouselImgs img 
  {
    border-radius: 0.5rem;
  }


  .carouselImgs img:hover
  {
    transform: scale(90%);
    opacity: 80%;
    
  }
  
  .prev, .next {
    position: absolute;
    top: 35%;
    cursor: pointer;
  }
  
  
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  /* @media screen and (min-width: 910px) and (max-width: 1180px) {
    .carouselContainer
    {
      width: 80%;
    } 
    h3
    {
      font-size: 4.1rem;
    }
    h1 {
      font-size: 4.9rem;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 910px) {
    .carouselContainer
    {
      width: 90%;
    } 
    h3
    {
      font-size: 3.6rem;
    }
    h1 {
      font-size: 4.7rem;
    }
  } */

 

 