.n_container{
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 17%;
    padding-left: 17%;
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.n_box h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 30px;
    color: #2b4263;
}
.n_box{
    border: 5px solid #2b4263;
    border-radius: 25px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;

}
.n_box p{
    font-size: 1.5rem;
    color: #2b4263;
}

 @media screen and (min-width: 1277px) and (max-width: 1544px) {
    .n_box p
    {
        font-size: 1.4rem;
    }
    .n_box h1
    {
        font-size: 3.8rem;
    }

  }
 @media screen and (min-width: 914px) and (max-width: 1277px) {
    .n_box p
    {
        font-size: 1.1rem;
    }
    .n_box h1
    {
        font-size: 2.5rem;
    }

  }
 @media screen and (min-width: 876px) and (max-width: 914px) {
    .n_box p
    {
        font-size: 1.1rem;
    }
    .n_box h1
    {
        font-size: 2rem;
    }

  }
 @media screen and (min-width: 640px) and (max-width: 876px) {
    .n_box p
    {
        font-size: 1rem;
    }
    .n_box h1
    {
        font-size: 2rem;
        padding-bottom: 20px;
    }

  }
 @media screen and (max-width: 640px) {
    .n_box p
    {
        font-size: 0.7rem;
    }
    .n_box h1
    {
        font-size: 1rem;
        padding-bottom: 10px;
    }

  }

/*  @media screen and (min-width: 510px)  and (max-width: 680px) {
    .n_container
    {
        font-size: 0.78rem;
    }
    .head
    {
        font-size: 4.3rem;
    }

  }

  @media screen   and (max-width: 510px) {
    .n_container
    {
        font-size: 0.69rem;
    }
    .head
    {
        font-size: 4.1rem;
    }

  }

  @media screen  and (max-width: 768px) {
    .r1
    {
        margin-left: 10%;
        margin-right: 10%;
    }
    .r2
    {
        margin-left: 10%;
        margin-right: 10%;
    }
    

  } */