.n_container{
    background-color: #ffd153;
    padding: 3% 0;
    height: 100vh;
    box-sizing: border-box;    
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.notice_p{
    font-size: larger;
}

@media screen and (min-width: 680px) and (max-width: 940px) {
    .n_container
    {
        font-size: 0.85rem;
    }
    .head
    {
        font-size: 4.5rem;
    }

  }

  @media screen and (min-width: 510px)  and (max-width: 680px) {
    .n_container
    {
        font-size: 0.78rem;
    }
    .head
    {
        font-size: 4.3rem;
    }

  }

  @media screen   and (max-width: 510px) {
    .n_container
    {
        font-size: 0.69rem;
    }
    .head
    {
        font-size: 4.1rem;
    }

  }

  @media screen  and (max-width: 768px) {
    .r1
    {
        margin-left: 10%;
        margin-right: 10%;
    }
    .r2
    {
        margin-left: 10%;
        margin-right: 10%;
    }
    

  }