.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling the body */
* {
  margin: 0px;
  padding: 0px;
}

/* Styling the first parallax's 
height, width and background color */
.parallax-1 {
  width: 100%;
  height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.251), rgba(0, 0, 0, 0.459)), url('../public/img/ism_biulding.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}

/* Styling the title of first parallax */
.parallax-1 h2 {
  margin: auto;
  position: relative;
  left: 45;
  top: 40%;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 900;
  text-shadow: 2em;
}

/* Styling the second parallax's 
height, width and background color */
/* .parallax-2 {
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
  background-attachment: fixed;
} */

/* Styling the title of second parallax */
/* .parallax-2 h2 {
  margin: auto;
  position: relative;
  left: 500x;
  top: 300px;
  width: 250px;
  height: 37px;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
  font-family: Verdana;
} */

/* Styling the content or paragraph */
/* .para-1 {
  padding: 50px;
  color: rgb(12, 12, 12);
  font-size: 17px;
} */

/* Styling the content or paragraph */
.para-1 {
  text-align: center;
  padding: 25px;
  font-size: 17px;
  font-family: Verdana;
  color: rgb(0, 0, 0);
}